.nav.nav-pills
  %li.disabled
    = link_to '#' do
      = image_tag('footer.png')
      %span Brisbane  •  Vancouver  •  St Louis  •  Santiago  •  London  •  Mumbai 
  %li.disabled.pull-right
    = link_to '#' do
      %span &copy; #{Time.now.year}