.nav.nav-pills
  %li.disabled
    = link_to '#' do
      = image_tag('footer.png')
      %span Brisbane &nbsp; • &nbsp; Vancouver &nbsp; • &nbsp; St Louis &nbsp; • &nbsp; Santiago &nbsp; • &nbsp; London &nbsp; • &nbsp; Mumbai 
  %li.disabled.pull-right
    = link_to '#' do
      %span &copy; #{Time.now.year}