%h1.page-header Plants
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th #
      %th 
        %i.icon-globe
        Plant Name
      %th Frames
  %tbody
    - @plants.each_with_index do |p,i|
      %tr
        %td= i
        %td= link_to p.name, plant_url(p)
        %td= p.frames.count