%table.table.table-condensed.table-hover
  %thead
    %tr
      %th #
      %th Frame ID
      %th Temperature
      %th 
  %tbody
    - @frames.each_with_index do |f,i|
      %tr{class: setTempStatus(f.temperature)}
        %td= i
        %td= f.id
        %td= f.temperature
        %td
        %td
          %a{href: plant_frame_url(f.plant, f)} view
        %td
          %a{href: plants_url(f.plant)} back