#frames.frame
  %h1.page-header
    %i.icon-th-large
    Frame:     
    %span.badge{class: "badge-#{setTempStatus(@frame.temperature)}"}
      %i.icon-fire
      = @frame.temperature

    = link_to 'back to frames', plant_url(@frame.plant), class: 'btn btn-link'

  .row
    .span2
      %h4 Showing:
      %hr

      #choices

      %hr
      %button.btn.btn-success.btn-mini#btn-checkall
        %i.icon-ok
        Check All
    
    .span8
      .row
        %button.btn.btn-primary.btn-mini#btn-refresh.pull-right
          %i.icon-refresh
          Refresh Data
      .row
        #cells_flot{style: 'width:800px; height:400px', data: {'json-route' => get_reports_plant_frame_url(@frame.plant, @frame)}}
    

    
