// colors
@voltrak-black:       #000000;
@voltrak-white:       #FFFFFF;

@voltrak-gray-0:      #333333;

@voltrak-green-0:     #77DD77;


@voltrak-yellow-0:    #FFE5B4;


@voltrak-red-0:       #DEA5A4;


@voltrak-gradient-0:  #FFFFFF, #AAAAAA;