// colors
@app-black:       #000000;
@app-white:       #FFFFFF;

@app-gray-0:      #333333;

@app-green-0:     #77DD77;


@app-yellow-0:    #FFE5B4;


@app-red-0:       #DEA5A4;


@app-gradient-0:  #FFFFFF, #AAAAAA;