// mixins
@import "_utils";
@import "_vars";

ul#cells        {
  li            {.border-radius(100%, 100%, 100%, 100%); .drop-shadow; display:inline-block; margin:0px 8px; text-align:center; background:@app-gray-0;
    a           {display:inline-block; padding:21px 25px; font-size:32px; line-height:25px; color:@app-white;}
    &.active    {background:@app-green-0;}
    &.inactive  {background:@app-yellow-0;}
    &.errored   {background:@app-red-0;}
  }
}