// mixins
@import "_utils";
@import "_vars";

#frames         {
  .page-header  {
    .label      {font-size:24px;}
  }
  .controls     {
    .group      {display:inline-block; margin-bottom:25px;
      ul#cells  {margin:0px; margin-bottom:25px;
        li      {display:inline-block;}
      }
    }
  }
}