// mixins
@import "_utils";
@import "_vars";

#frames         {
  .controls     {
    .group      {display:inline-block; margin-bottom:25px;
      ul#cells  {margin:0px; margin-bottom:25px;
        li      {display:inline-block; width:100%; margin:2px 0px;}
      }
    }
  }
}