!!!
%html

  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/

    / TODO: make this dynamic
    / %title= title
    %title Voltrak

    = stylesheet_link_tag :application, media: "all"
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    .container

      -#
        .navbar.navbar-static-top.navbar-inverse
          .navbar-inner
            -# TODO: make this dynamic
            %a.brand{href: "#"} Plants
            %ul.nav
              %li.active
                %a{href: plants_url} Plants
              %li
                %a{href: frames_url} Frames
              %li
                %a{href: cells_url} Cells
              %li
                %a{href: reports_url} Reports

      = yield
